/* TEST */

body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Belleza;
    background-color: rgb(228, 215, 145);
}

#header-name{
    font-size: 40px;
    font-weight:bold;
    color: green;
    margin: 25px 0px 0px 0px;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float:left;
}

#main-image{
    width: 700px;
    height: 250px;
    float: left;
}

#side-image{
    width: 300px;
    height: 250px;
    float:right;
}

#welcome {
    width: 700px;
    float: left;
    /*font-size: 12px;*/
    margin: 20px 0px 20px 0px;
    margin-bottom: 0px;
}

#recent-news{
    float:right;
    width: 300px;
    margin: 20px 0px 20px 0px;
}

#recent-news > header{
    margin-left: 5px;
    color: green;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align:center;
}

#recent-news > ul{
    list-style: none;
    text-align:center;
}

#recent-news > ul > li {
    margin: 0px 0px 3px 0px;
}

#main{
    height: 100%;
    width: 700px;
    float: left;
    margin: 0px 0px 3px 0px;
}

#donut-header{
    color: green;
    font-size: 15px;
    margin: 0px 0px 3px 0px;
    height: 25px;
}

.products{
    width: 25%;
    float: left;
    margin: 0px 0px 20px 0px;
}

.product-article {
    height: 150px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    text-align:center;
}

.product-thumbnail{
    width: 50px;
    height: 50px;
}

.add-to-cart{
    text-align: center;
}

.product-article > p{
    text-align: center;
}

/*.add-to-cart p{
    text-align:center;
}*/


#store_header{
    color: green;
}

#header{
    height: 80px;
}

#search {
    float: right;
    color: green;
    padding: 0px;
    margin: 25px 0px 0px 0px;
}


footer {
    width: 75%;
    background-color: chocolate;
    border-radius: 5px;    
    position:fixed;
    left:0px;
    bottom:10px;
    height:100px;
}